anyio==4.14.1
build==1.5.0
callwire==2.0.0
certifi==2026.6.17
charset-normalizer==3.4.9
click==8.4.2
filelock==3.29.7
h11==0.16.0
httpcore2==2.5.0
httpx2==2.5.0
hyperlink==21.0.0
id==1.6.1
idna==3.18
iniconfig==2.3.0
jaraco.classes==3.4.0
jaraco.context==6.1.2
jaraco.functools==4.5.0
keyring==25.7.0
markdown-it-py==4.2.0
mdurl==0.1.2
more-itertools==11.1.0
msgpack==1.2.1
nh3==0.3.6
packaging==26.2
pathspec==1.1.1
pexpect==4.9.0
pip==25.3
platformdirs==4.10.0
pluggy==1.6.0
ptyprocess==0.7.0
Pygments==2.20.0
pyproject-hooks==1.2.0
pytest==9.1.1
python-discovery==1.4.3
readme-renderer==45.0
requests==2.34.2
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==15.0.0
shellingham==1.5.4
tomli-w==1.2.0
tomlkit==0.15.0
trove-classifiers==2026.6.1.19
truststore==0.10.4
twine==6.2.0
urllib3==2.7.0
userpath==1.9.2
uv==0.11.27
virtualenv==21.6.0
